<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vside.app">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vside.app.util.common.VsideApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ContentDetailTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.vside.app.feature.auth.SignUpActivity"
            android:theme="@style/SignUpTheme"
            android:exported="false">
        </activity>
        <activity
            android:name=".feature.content.ContentActivity"
            android:exported="false" />
        <activity
            android:name=".feature.mypage.BookShelfActivity"
            android:exported="false" />
        <activity
            android:name="com.vside.app.feature.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vside.app.feature.MainActivity"
            android:exported="true" />
    </application>

</manifest>